{% extends "layout.html.twig" %}

{% block content %}
    <div class="flex justify-center items-center flex-col my-2">
        <h1>Mon profil</h1>
        <div class="flex flex-col justify-center items-center">
            <h2>Salut, {{ user.username }}</h2>
            {% include "components/btn.html.twig" with {'href': path('app_logout'), 'text': 'Déconnexion'} %}
        </div>
    </div>
    <div class="flex justify-center items-center flex-col my-2">
        <h2>Mes publications</h2>
        <div class="flex flex-col justify-center items-center">
            {% for post in user.publications %}
                {% include "components/publication.html.twig" with {'publication': post} %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
